#banner .inner {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#flexgrid div {
    float: left;
    width: 33.33%;
}

#flexgrid:after {
    content: "";
    display: table;
    clear: both;
}

.grid-style > * {
    width: inherit !important;
}

.grid-style {
    display: inline-block;
    clear: both;
    overflow: hidden;
    width: 100%;

}

#image-first {
    float: left;
    width: 50% !important;
}

#image-second {
    float: left;
    margin-left: 3em;
    width: 50% !important;
}
